<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>


<div class="container">
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
  			<h2>Welcome <span>{{this.email}}</span></h2>
  		</div>
  	</div>
  	<div id="accordion" role="tablist" aria-multiselectable="true">
  		{{#each rooms}}

  		<div class="card">
  			<div class="card-header" role="tab" id = "heading{{this.id}}" >
  				<h5 class="mb-0">
  					<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapse{{this.id}}">
  						{{this.name}}: {{this.description}}
  					</a>
  				</h5>
  			</div>

  			<div id="collapse{{this.id}}" class="collapse show" role="tabpanel" aria-labelledby="heading{{this.id}}">
  				<div class="card-block">
  					ID: ... {{this.id}}

  					This is where the list of items in the room should go.
  					<ul>
  					{{#each this.Items}}
  						<li>{{this.name}}: {{this.description}}</li>
  					{{/each}}
  					</ul>
  				</div>
  			</div>
  		</div>

  		{{/each}}

  	</div>




  </div>

<br><br>
<form id="room-form">
  Name: <input placeholder="Name" id="room-name" type="text" />
  Description: <input placeholder="Description" id="room-description" type="text" />
  <input id="user-id" type="hidden" value="{{this.id}}"/>

  <button type="submit" class="btn btn-success">Add Room</button>
</form>



  <!-- jQuery first, then Tether, then Bootstrap JS. -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="/assets/js/login/members.js"></script>
  

</div>



